<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>

	<body>

		<h2> Recipe List </h2>

		<div class="left-column">
			<% @recipes.each do |r|  %>
				<ul>
					<h3> <%=link_to r.name, url_for(:recipe, :show, :id => r.id, :name => r.name)	 %></h3>

					<p> <%= r.created_at %></p>
					<br>
				</ul>
			<% end %>
		</div>

		<div class="right-column">
			<h3> Search by Category </h3>
			<% @categories.each do |c| %>
				<ul>
					<li><%=link_to c.name, url_for(:recipe, :list, :id => c.id)%></li>
				</ul>
			<% end %>
		</div>

	</body>

</html>
